/* 
    Document   : geral
    Created on : 25/04/2012, 23:18:06
    Author     : mauricio
    Description:
        Purpose of the stylesheet follows.
*/

.link {
    text-decoration: none;
    color: black;
    background-color: transparent;
}


.campopadrao {
    //-webkit-appearance: none;
    background-image: none; /* remove the value that chrome dose not use */
    background-color: #333; /* set the value it does */
    border-radius: 3px;     /* make it look kinda like the background image */    
    border: 1px solid #888;
    height: 22px;
    border-collapse:collapse; 
    background-color: whitesmoke;
    font-size: 10pt;
    color: black;
}
.campopadrao:disabled {
    border: 0px solid #888;
}
.campopadrao:required {    
    background-color: #FBEFEF;
}
.campopadrao:focus {        
    
}
.campo_tamanho_1 {
    width: 25px;
}
.campo_tamanho_2 {
    width: 50px;
}
.campo_tamanho_3 {
    width: 75px;
}
.campo_tamanho_4 {
    width: 100px;
}
.campo_tamanho_5 {
    width: 150px;
}
.campo_tamanho_6 {
    width: 200px;
}
.campo_tamanho_7 {
    width: 250px;
}
.campo_tamanho_8 {
    width: 500px;
}
.campo_tamanho_9 {
    width: 1000px;
}
.campo_qtd {
    text-align: right
}



.campofiltro
{
    height: 18px;
    border-collapse:collapse; 
    background-color: white;
    font-size: 10pt;
    border: 1px gray solid;
}
.campofiltro:disabled
{
    background-color: #E5E5E5;
    border: 1px white solid;
    color: gray;
    border: 1px #DCDCDC solid;
}

.campofiltro:required {    
    border: 1px darkolivegreen solid;    
}
.campofiltro:focus {    
    
    border: 1px orange solid;    
}

.textarea {
    height: 80px;
    border-collapse:collapse; 
    background-color: white;
    font-size: 10pt;
    border: 1px gray solid;
}
.textarea:disabled {
    background-color: transparent;
    border: 1px transparent solid;
    color: black;
    border-left-color: gray;
    border-bottom-color: gray;
}

.botaopadrao {
    border-collapse:collapse;	
    background-color: #E4E4E4;
    border: 1px gray solid;
    color: black;
    font-weight: bold; 
    height: 28px;
    font-family: Arial;
    font-size: 9pt;
    color: black;
    font-weight: bold;    
}
.botaopadrao:hover {
    background-color: green;
    color: white;
}
.botaopadrao:disabled {
    background-color: #E5E5E5;
    border: 1px white solid;
    color: gray;
    border: 1px #DCDCDC solid;
}
.botaopadrao:focus {
    border: 2px darkolivegreen solid;
}

.botaopadraocadastrar {
    background-color: #E0EEE0;        
    
}
.paginacaopadrao_fundo {
    border: 1px gray solid;
    border-top-color: transparent;
    background-color: #E4E4E4;
}
.paginacaopadrao_linha {
    height: 15px;
    border-top-color: transparent;
}
.lin {    
    border: 1px gray solid;
}
.lin:hover {
    border: 1px gray solid;
    background-color: #E0EEE0;
}
.negrito {
    font-weight: bold;
}
.dicacampo {
    top: 30;
    font-size: x-small;
    color: gray;
    font-style: italic;
}
.dicacampo-vermelho {
    top: 30;
    font-size: x-small;
    color: red;
    font-style: italic;    
    font-weight: bold;
}

.tab_linhas_amarelo {
        background: lemonchiffon;
}
.tab_linhas_vermelho {
    background: #FFE4E1;
}
.tab_linhas_vermelho1 {
    background: #F5A9A9;
}
.tab_linhas_vermelho2 {
    background: #F6CECE;
}
.tab_linhas_vermelho3 {
    background: #F8E0E0;
}
.tab_linhas_vermelho4 {
    background: #FBEFEF;
}
.tab_linhas_azul1 {
    background: #EFF8FB;
}
.tab_linhas_azul2 {
    background: #E0F2F7;
}
.tab_linhas_azul3 {
    background: #CEECF5;
}    
.tab_linhas_azul4 {
    background: #A9E2F3;
}  

.botao_upload::before {
  /*
  padding: 5px 8px;
  content: 'Escolher arquivo';
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  display: inline-block;
  border: 1px solid #999;
  border-radius: 3px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
    */
}
.botao_upload:required {    
    background-color: #FBEFEF;
}

